<?php
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
$baseUrl = 'web';

return [
    'relationships' => [
        'database' => [
            0 => [
                'host' => 'db',
                'path' => 'magento2',
                'password' => 'magento2',
                'username' => 'magento2',
                'port' => '3306',
            ],
        ],
    ],
    'routes' => [
        "http://{$baseUrl}/" => [
            'type' => 'upstream',
            'original_url' => 'http://{default}',
        ],
        "https://{$baseUrl}/" => [
            'type' => 'upstream',
            'original_url' => 'https://{default}',
        ],
    ],
    'variables' => [
        'ADMIN_EMAIL' => 'admin@example.com',
    ],
];
