<?php
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
$baseUrl = getenv('MAGENTO_HOST_NAME') ?: 'localhost';

return [
    'relationships' => [
        'database' => [
            0 => [
                'host' => '127.0.0.1',
                'path' => 'integration_tests',
                'password' => '',
                'username' => 'root',
                'port' => '3306',
            ],
        ],
    ],
    'routes' => [
        "http://{$baseUrl}/" => [
            'type' => 'upstream',
            'original_url' => 'http://{default}',
        ],
        "https://{$baseUrl}/" => [
            'type' => 'upstream',
            'original_url' => 'https://{default}',
        ],
    ],
    'variables' => [
        'ADMIN_EMAIL' => 'admin@example.com',
    ],
    'deploy' => [
        'name' => 'magento/project-enterprise-edition',
    ],
    'repositories' => [
        [
            "type" => "composer",
            "url" => "https://repo.magento.com",
        ],
        [
            "type" => "composer",
            "url" => "https://connect20-qa01.magedevteam.com/",
        ],
    ],
    'skip_front_check' => false,
];
