dist: bionic

addons:
  hosts:
    - magento2.docker

git:
  depth: false

services:
  - docker

language: php
php:
  - '7.1'
  - '7.2'
  - '7.3'
  - '7.4'

env:
  - TEST_SUITE=functional-ce
  - TEST_SUITE=functional-ee FUNCTIONAL_INDEX=1
  - TEST_SUITE=functional-ee FUNCTIONAL_INDEX=2
  - TEST_SUITE=functional-ee FUNCTIONAL_INDEX=3
  - TEST_SUITE=functional-ee FUNCTIONAL_INDEX=4
  - TEST_SUITE=functional-ee FUNCTIONAL_INDEX=5
  - TEST_SUITE=functional-ee FUNCTIONAL_INDEX=6

stages:
  - test

jobs:
  exclude:
    - php: '7.1'
      env: TEST_SUITE=functional-ee

    - php: '7.2'
      env: TEST_SUITE=functional-ee

    - php: '7.3'
      env: TEST_SUITE=functional-ee

    - php: '7.4'
      env: TEST_SUITE=functional-ee

install:
  - composer config http-basic.repo.magento.com ${REPO_USERNAME_CE} ${REPO_PASSWORD_CE}
  - composer config github-oauth.github.com ${GITHUB_TOKEN}
  - if [ -n "${MCC_VERSION}" ]; then composer config repositories.mcc git git@github.com:magento/magento-cloud-components.git && composer require "magento/magento-cloud-components:${MCC_VERSION}" --no-update; fi;
  - if [ -n "${MCD_VERSION}" ]; then composer config repositories.mcd git git@github.com:magento/magento-cloud-docker.git && composer require "magento/magento-cloud-docker:${MCD_VERSION}" --no-update; fi;
  - if [ -n "${MCP_VERSION}" ]; then composer config repositories.mcp git git@github.com:magento/magento-cloud-patches.git && composer require "magento/magento-cloud-patches:${MCP_VERSION}" --no-update; fi;
  - if [ -n "${MQP_VERSION}" ]; then composer config repositories.mqp git git@github.com:magento/quality-patches.git && composer require "magento/quality-patches:${MQP_VERSION}" --no-update; fi;
  - composer update -n --no-suggest

before_script:
  - if [ $TEST_SUITE == "functional-ce" ]; then cp codeception.dist.yml codeception.yml && sed -i "s/REPO_USERNAME/REPO_USERNAME_CE/" codeception.yml && sed -i "s/REPO_PASSWORD/REPO_PASSWORD_CE/" codeception.yml; fi;

script:
  - if [ $TEST_SUITE == "functional-ce" ]; then ./tests/travis/functional_ce.sh; fi;
  - if [ $TEST_SUITE == "functional-ee" ] && [ $TRAVIS_SECURE_ENV_VARS == "true" ]; then ./tests/travis/prepare_functional_parallel.sh && ./tests/travis/functional_ee.sh; fi;
