dist: trusty

git:
  depth: 1

services:
  - docker

language: php
php:
  - '7.0'
  - '7.1'
  - '7.2'

env:
  matrix:
    - TEST_SUITE=static-unit XDEBUG=true
    - TEST_SUITE=integration
    - TEST_SUITE=functional

install: composer update -n --no-suggest

before_script:
  - echo "COMPOSER_MAGENTO_USERNAME=${REPO_USERNAME}" >> ./docker/composer.env
  - echo "COMPOSER_MAGENTO_PASSWORD=${REPO_PASSWORD}" >> ./docker/composer.env
  - if [ $XDEBUG == "true" ]; then echo "PHP_ENABLE_XDEBUG=true" >> ./docker/global.env; fi;

script:
  - echo $REPO_USERNAME
  - echo $TRAVIS_SECURE_ENV_VARS
  - echo $TRAVIS_PULL_REQUEST
  - if [ $TEST_SUITE == "static-unit" ]; then ./tests/travis/static-unit.sh; fi
  - if [ -n $REPO_USERNAME ] && [ $TEST_SUITE == "integration" ]; then ./tests/travis/integration.sh; fi
  - if [ -n $REPO_USERNAME ] && [ $TEST_SUITE == "functional" ]; then ./tests/travis/functional.sh; fi

after_failure: docker ps -s
