dist: xenial

addons:
  hosts:
    - magento2.docker

git:
  depth: false

services:
  - docker

language: php
php:
  - '7.1'
  - '7.2'
  - '7.3'

env:
  matrix:
    - TEST_SUITE=static-unit XDEBUG=true
    - TEST_SUITE=integration
    - TEST_SUITE=functional
    - TEST_SUITE=functional FUNCTIONAL_INDEX=1
    - TEST_SUITE=functional FUNCTIONAL_INDEX=2
    - TEST_SUITE=functional FUNCTIONAL_INDEX=3
    - TEST_SUITE=functional FUNCTIONAL_INDEX=4

matrix:
  exclude:
    - php: '7.1'
      env: TEST_SUITE=integration
    - php: '7.1'
      env: TEST_SUITE=functional FUNCTIONAL_INDEX=1
    - php: '7.1'
      env: TEST_SUITE=functional FUNCTIONAL_INDEX=2
    - php: '7.1'
      env: TEST_SUITE=functional FUNCTIONAL_INDEX=3
    - php: '7.1'
      env: TEST_SUITE=functional FUNCTIONAL_INDEX=4

    - php: '7.2'
      env: TEST_SUITE=functional

    - php: '7.3'
      env: TEST_SUITE=functional

install:
  - composer config http-basic.repo.magento.com ${REPO_USERNAME_CE} ${REPO_PASSWORD_CE}
  - composer config github-oauth.github.com ${GITHUB_TOKEN}
  - if [ -n "${MCC_VERSION}" ]; then composer config repositories.mcc git git@github.com:magento/magento-cloud-components.git && composer require "magento/magento-cloud-components:${MCC_VERSION}" --no-update; fi;
  - if [ -n "${MCD_VERSION}" ]; then composer config repositories.mcd git git@github.com:magento/magento-cloud-docker.git && composer require "magento/magento-cloud-docker:${MCD_VERSION}" --no-update; fi;
  - composer update -n --no-suggest

before_script:
  - echo "COMPOSER_MAGENTO_USERNAME=${REPO_USERNAME}" >> ./.docker/composer.env
  - echo "COMPOSER_MAGENTO_PASSWORD=${REPO_PASSWORD}" >> ./.docker/composer.env
  - if [ $XDEBUG == "true" ]; then echo "PHP_ENABLE_XDEBUG=true" >> ./.docker/global.env; fi;

script:
  - if [ $TEST_SUITE == "static-unit" ]; then ./tests/travis/static-unit.sh; fi
  - if [ $TEST_SUITE == "integration" ]; then ./tests/travis/integration.sh; fi;
  - if [ $TRAVIS_SECURE_ENV_VARS == "true" ] && [ $TEST_SUITE == "functional" ]; then ./tests/travis/prepare_functional_parallel.sh && ./tests/travis/functional.sh; fi;

after_failure: docker ps -s
