dist: trusty
sudo: required

git:
  depth: 1

services:
  - docker

language: php
php:
  - '7.0'
  - '7.1'
  - '7.2'

addons:
  apt:
    update: true

env:
  matrix:
    - TEST_SUITE=static-unit XDEBUG=true
    - TEST_SUITE=integration
    - TEST_SUITE=functional

cache:
  apt: true

before_install:
  - echo "COMPOSER_MAGENTO_USERNAME=${REPO_USERNAME}" >> ./docker/composer.env
  - echo "COMPOSER_MAGENTO_PASSWORD=${REPO_PASSWORD}" >> ./docker/composer.env
  - if [ $XDEBUG == "true" ]; then echo "PHP_ENABLE_XDEBUG=true" >> ./docker/global.env; fi;

install: composer update -n --no-suggest

before_script:
  - sudo /etc/init.d/mysql stop

script: ./tests/travis/script.sh

after_failure: docker ps -s
