<?xml version="1.0" encoding="UTF-8"?>

<phpunit bootstrap="autoload.php" colors="true" beStrictAboutTestsThatDoNotTestAnything="false">
    <testsuites>
        <testsuite name="Default Test Suite">
            <directory>src</directory>
        </testsuite>
    </testsuites>

    <php>
        <ini name="date.timezone" value="UTC"/>
    </php>
</phpunit>
