{
    "http-basic": {
        "repo.magento.com": {
            "username": "a7c98e3f7b10e3978bb615626e60947c",
            "password": "ee5e7c96707f398d40cd1fedfe87d50d"
        },
        "connect20-qa01.magedevteam.com": {
            "username": "2b2e3ee639701ec2bd4fa0b7d7a35aa6",
            "password": "89049f0cb142d4f7333c1667f13d1316"
        }
    }
}
