<?xml version="1.0" encoding="UTF-8"?>

<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="http://schema.phpunit.de/6.1/phpunit.xsd"
         colors="true"
         columns="max"
         bootstrap="../../autoload.php"
         beStrictAboutTestsThatDoNotTestAnything="false"
         stopOnFailure="true"
>
    <testsuites>
        <testsuite name="Unit">
            <directory suffix="Test.php">../../src/Test/DockerIntegration</directory>
        </testsuite>
    </testsuites>
    <php>
        <ini name="date.timezone" value="UTC"/>
        <env name="ECE_ROOT" value="/var/www/ece-tools"/>
        <env name="MAGENTO_ROOT" value="/var/www/magento"/>
    </php>
</phpunit>
