parameters:
    reportUnmatchedIgnoredErrors: false
    excludes_analyse:
        - %currentWorkingDirectory%/src/Test/*
    ignoreErrors:
        - "#.*ComponentRegistrar not found.#"
        - "#InputInterface to string#"
