parameters:
	excludes_analyse:
		- %currentWorkingDirectory%/src/Test/*
	ignoreErrors:
		- message: "#Strict comparison using === between bool and null will always evaluate to false.#"
		  path: %currentWorkingDirectory%/src/Filesystem/Driver/File.php