name: CI
on: [pull_request]

jobs:
  static-unit:
    name: Acceptance Tests
    runs-on: ubuntu-latest
    strategy:
      matrix:
        php-versions: ['7.1', '7.2', '7.3', '7.4']
    steps:
      - name: Checkout
        uses: actions/checkout@v1
        with:
          fetch-depth: 1
      - name: Prepare PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: ${{ matrix.php-versions }}
          extensions: sockets
      - name: Remove secure repositories
        run: |
          composer config --unset repositories.repo.magento.com
          composer remove --no-update magento/magento-cloud-components
          composer remove --no-update magento/magento-cloud-docker
          composer remove --no-update magento/quality-patches
          composer remove --no-update magento/magento-cloud-patches
      - name: Composer Update
        run: composer update
      - name: Static and Unit tests
        run: |
          ./vendor/bin/phpstan analyse -c ./tests/static/phpstan.neon
          ./vendor/bin/phpcs ./src --standard=./tests/static/phpcs-ruleset.xml -p -n
          ./vendor/bin/phpmd ./src xml ./tests/static/phpmd-ruleset.xml
          ./vendor/bin/phpunit --configuration ./tests/unit --coverage-clover ./tests/unit/tmp/clover.xml && php ./tests/unit/code-coverage.php ./tests/unit/tmp/clover.xml
          ./vendor/bin/phpunit --configuration ./tests/unit
      - name: Integration tests
        run: ./vendor/bin/phpunit --configuration ./tests/integration

